<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos - Adicionar</title>
    <style>
        h1{
            text-align: center;
        }
        a{
            text-decoration: none;
        }

        li{
            display: inline;
            border-left: black solid;
            border-right: black solid;
            margin: 1px;
            padding-top: 10xp;
            padding-bottom: 10px;
            background-color:dodgerblue;
        }
        li:hover{
            background-color: darkgrey;


        }
        li a{
            display: inline-block;
            padding: 10px;
        }
        table{
            padding: 5px;
            border-collapse: collapse;
            border: solid black 1px;
        }
        th, td {
            padding: 5px;
            border: solid black 1px;
        }
    </style>
</head>
<body>
    <h1>Cadastro de Alunos</h1>
    <ul>
        <li><a href="/add">Adicionar</a></li>
        <li><a href="/">Listar</a></li>
    </ul>
<hr>
