<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos - Adicionar</title>
    <style>
        p{
            text-align: center;
        }
        h1{
            text-align: center;
        }
        a{
            text-decoration: none;
            
        }

        li{
            display: inline;
            border-left: black solid;
            border-right: black solid;
            margin: 10px;
            padding-top: 10xp;
            padding-bottom: 10px;
            background-color:dodgerblue;
            
        }
        li:hover{
            background-color: darkgrey;


        }
        li a{
            
            display: inline-block;
            padding: 10px;
        }
        table{
            margin-top: 10px;
            border-collapse: collapse;
            border: solid black 2px;
            text-align: center;
            margin-left: 440px;
        }
        th, td {
            padding: 5px;
            border: solid black 1px;
        }
        input{
            margin: 3px;
        }
        form{
            text-align: center;
        }
        ul{
            margin-left: 390px;
        }
    </style>
</head>
<body>
    <h1>Cadastro de Alunos</h1>
    <ul>
        <li>
            <a href="/add">Adicionar</a>
        </li>
        <li>
            <a href="/">Listar</a>
        </li>
    </ul>
<hr>
