<%-include('cabecalho.ejs')%>
    <form method="POST">             
        ID: <input type="text" name="ID" readonly value="<%=aluno._id%>"></br>
        Nome: <input type="text" name="nome" placeholder="Nome" value="<%aluno.nome%>"></br>
        Endereço: <input type="text" name="endereco" placeholder="Endereço" value="<%aluno.endereco%>"></br>
        Cell: <input type="text" name="cell" placeholder="Cell" value="<%aluno.cell%>"></br>
        <input type="submit">
    </form>
    <script>

    </script>
    
    <%-include('rodape.ejs')%>